/* General Styles */
body {
  margin: auto;
  margin-bottom: 10%;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif; /* Modern font */
  background-color: #f0f0f0; /* Lighter background */
  background-size: cover;
  background-position: center;
}

.main_video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.link_no_decoration {
  text-decoration: none;
  color: inherit;
}

.light_text {
  color: white;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3498db; /* Brighter color */
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.btn:hover {
  background-color: #2980b9; /* Darker on hover */
}

/* Navigation Bar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #16191c;
}

.navbar .navbar-brand {
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar .btn {
  margin-left: 10px;
}

.navbar .btn:hover {
  background-color: #4b535a;
}

.light_text {
  color: white;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3498db; /* Brighter color */
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.btn:hover {
  background-color: #2980b9; /* Darker on hover */
}

textarea {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: "Roboto", sans-serif; /* Modern font */
  font-size: 1em;
  margin-bottom: 20px;
}

.resultBox {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

/* Page Specific Styles */

/* results Page */

.results_page {
  width: 100%;
  background-color: #f0f0f0; /* Lighter background */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.countdown {
  font-size: 2em;
  color: #16191c;
  border: 2px solid #16191c;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
  animation: countdown 0.3s ease-out; /* Add animation */
}

.center_object {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Dashboard Page */

.dashboard_page {
  margin: 5%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  min-width: 80vw;
  margin: 30px;
  padding: 20px;
  background-color: #e5e5e5;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); /* Less intense shadow */
}

.task-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tasks,
.email,
.dailySummary,
.output,
.generateSummary {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Less intense shadow */
  margin-bottom: 20px;
}

h1,
h2 {
  color: #16191c;
  padding-top: 30px;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#newTask,
#taskDate {
  margin-bottom: 10px;
}

#taskTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

#taskTable th,
#taskTable td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

#taskTable th {
  background-color: #f4f4f4;
  color: #333;
}

input[type="text"],
input[type="date"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2em;
  margin-bottom: 10px;
  width: 100%;
  transition: border-color 0.3s ease;
}

input[type="text"]:hover,
input[type="date"]:hover,
input[type="text"]:focus,
input[type="date"]:focus {
  border-color: #3498db; /* Brighter color */
  outline: none;
}

input[type="text"],
input[type="date"] {
  border: none;
  border-bottom: 2px solid #ccc;
}

/* Calendar Page */
/* style.css */
#calendar {
  max-width: 900px; /* Set the maximum width */
  margin: 0 auto; /* Center the calendar */
  padding: 20px;
  background-color: #e5e5e5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Add custom CSS for the add event box */
#addEventBox {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Less intense shadow */
  max-width: 900px;
}

/* Adjust the date and time input styles */
input[type="date"],
input[type="time"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2em;
  margin-bottom: 10px;
  transition: border-color 0.3s ease;
}

input[type="date"]:hover,
input[type="time"]:hover,
input[type="text"]:hover,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="text"]:focus {
  border-color: #3498db; /* Brighter color */
  outline: none;
}

#addEventButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3498db; /* Brighter color */
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#addEventButton:hover {
  background-color: #2980b9; /* Darker on hover */
}

/* Wiki Page Styles */
.wiki_page {
  margin: 5%;
  padding: 20px;
  background-color: #e5e5e5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.wiki_page h1 {
  font-size: 2.5em;
  color: #16191c;
  text-align: center;
  margin-bottom: 20px;
}

.wiki_page h2 {
  font-size: 2em;
  color: #16191c;
  margin-top: 20px;
  margin-bottom: 10px;
}

.wiki_page p {
  font-size: 1em;
  color: #4b535a;
  line-height: 1.5;
  text-align: justify;
}

.wiki_page ul {
  list-style-type: disc;
  margin-left: 20px;
}

.wiki_page ul li {
  font-size: 1em;
  color: #4b535a;
  line-height: 1.5;
  margin-bottom: 10px;
}

#scroll-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#scroll-to-top-btn.show {
  display: block;
}

/* Settings Page */
.settings_page {
  margin: 2%;
  text-align: center;
}

/* Spinning Animation */

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1,
.cube2 {
  background-color: #3498db; /* Brighter color */
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
      scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
      scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
  .right_container {
    border-left: none;
  }
}
