/* General Styles */
body {
  margin: auto;
  margin-bottom: 10%;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  background-size: cover;
  background-position: center;
}

.link_no_decoration {
  text-decoration: none;
}

.light_text {
  color: white;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #16191c;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

textarea {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 20px;
}

.resultBox {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

/* Page Specific Styles */

/* Results Page */
.results_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Dashboard Page */
.dashboard_page {
  margin: 5%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  min-width: 80vw;
  margin: auto;
  padding: 20px;
  background-color: #e5e5e5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.task-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tasks,
.email,
.dailySummary,
.output,
.generateSummary {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

h1,
h2 {
  color: #16191c;
  padding-top: 30px;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#newTask,
#taskDate {
  margin-bottom: 10px;
}

#taskTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

#taskTable th,
#taskTable td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

#taskTable th {
  background-color: #f4f4f4;
  color: #333;
}

.countdown {
  font-size: 2em;
  color: #16191c; /* changed color to match button background */
  border: 2px solid #16191c; /* changed color to match button background */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

input[type="text"],
input[type="date"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2em;
  margin-bottom: 10px;
  width: 100%;
  transition: border-color 0.3s ease;
}

input[type="text"]:hover,
input[type="date"]:hover,
input[type="text"]:focus,
input[type="date"]:focus {
  border-color: #16191c;
  outline: none;
}

input[type="text"],
input[type="date"] {
  border: none;
  border-bottom: 2px solid #ccc;
}

/* Calendar Page */
.calendar_page {
  margin: 2%;
}

/* Wiki Page */
.wiki_page {
  margin: 2%;
}

/* Settings Page */
.settings_page {
  margin: 2%;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
  .right_container {
    border-left: none;
  }
}
