{% extends 'layout_two.html' %} {% block content %}

<div class="dashboard_page">
  <div class="box" style="background-color: #27A9DC">
    <h1 class="title"></h1>
    <div class="task-container">
      <div class="tasks">
        <h2>Completed Tasks</h2>
        <p> Enter tasks you've already completed, not what to complete.</p>
        <table id="taskTable">
          <thead>
            <tr>
              <th style="background-color: #140F3A; color: white;"></th>
              <th style="background-color: #140F3A; color: white; text-align: center;">Date</th>
              <th style="background-color: #140F3A; color: white; text-align: center;">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasks %}
            <tr>
              <td>{{ task.task }}</td>
              <td>{{ task.date.strftime('%Y-%m-%d') }}</td>
              <td>
                <button
                  class="btn center_object"
                  onclick="deleteTask( {{ task.id | tojson | safe }} )"
                  style="background-color: #140F3A;"
                >
                  Delete
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <input type="text" id="newTask" placeholder="Enter a new task..." />
        <input type="date" id="taskDate" />
        <button class="btn" onclick="addTask()" style="background-color: #140F3A;">Add Task</button>
      </div>

      <div class="email">
        <h2>Weekly Email to Manager/Mentor</h2>
        <p id="emailContent"></p>
        <button class="btn" onclick="generateEmail()" style="background-color: #140F3A;">Generate Email</button>
        <h3 style="margin-top: 20px">Your Weekly Email:</h3>
        <p id="emailResult"></p>
      </div>

      <div class="generateSummary">
        <h2>Generate Summary</h2>
        <input type="date" id="startDate" />
        <input type="date" id="endDate" />
        <button class="btn" onclick="generateSummary()" style="background-color: #140F3A;">
          Generate Summary
        </button>
        <h3 style="margin-top: 20px">Your Summary:</h3>
        <p id="summaryResult"></p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}