{% extends 'layout_two.html' %} {% block content %}

<div class="results_page">
  <h1>Welcome Back {{ name | capitalize }}!</h1>
  <!-- Change 'user' in app.py file -->
  <br />
  <br />
  <h3 class="text-center">What have you done today</h3>

  <div class="box">
    <div class="row">
      <div class="col-lg-6">
        <h5 class="text-center">Meetings</h5>
        <ul style="list-style: none">
          {% for meeting in meetings %}
          <li>{{ meeting }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-lg-6 right_container">
        <h5 class="text-center">Tasks</h5>
        <table id="taskTable">
          <thead>
            <tr>
              <th>Task</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasks %}
            <tr>
              <td>{{ task.task }}</td>
              <td>{{ task.date.strftime('%Y-%m-%d') }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <a
    href="{{ url_for('dashboard') }}"
    class="btn link_no_decoration center_object"
    style="color: white"
    >Add items</a
  >
</div>

{% endblock content %}
