{% extends "layout_one.html" %}
{% block content %}

<!-- Viewpoint -->
<div class="viewpoint">

    <!-- <div class="background-image"></div> -->
    <div class="hero-text">
        <h1 class="text-center"> Welcome to ReIntern </h1>
        <h3 class="text-center"> Personal Insight Stress Free </h3>
    </div>
    <img src={{ url_for('static', filename="logo.png") }} class="main_image center_object" alt="Main Image">
    <div class="button-group">
        <a href={{ url_for('register') }} class="link_no_decoration">
            <button class="btn center_object object_bottom" style="background-color: #140F3A"> Signup </button>
        </a>
        <a href={{ url_for('login') }} class="link_no_decoration">
            <button class="btn center_object" style="background-color: #140F3A"> Login </button>
        </a>
    </div>
</div>

<!-- Scroll Page -->

<div class="scroll_up">
    <div class="question_statement">
        <h2> Who are we? </h2>
        <p> We are ReIntern! Through the power of AI, we strive to make internships more efficient for our users through automatic email AND brag sheet generation! </p>
    </div>

    <div class="row">
        <div class="col-md-6 text-container">
            <h1> Just input your completed tasks: </h1>
        </div>

        <div class="col-md-6 video-container">
            <video muted autoplay loop width="100%">
                <source src={{ url_for("static", filename="../static/tut_video_one.mp4") }} type="video/mp4" autoplay='autoplay' autoplay> </source>
            </video>
        </div>
    </div>

    <br>

    <!-- Tutorial Video 2 -->

    <div class="row" style="margin-top: 150px;">

        <div class="col-md-6 video-container">
            <video muted autoplay loop width="100%">
                <source src={{ url_for("static", filename="../static/tut_video_two.mp4") }} type="video/mp4" autoplay='autoplay' autoplay> </source>
            </video>
        </div>

        <div class="col-md-6 text-container">
            <h1> And we generate a weekly email for you: </h1>
        </div>
    </div>

    <br>
    <br>

    <!-- Tutorial Video Three -->

    <div class="row" style="margin-top: 150px;">
        <div class="col-md-6 text-container">
            <h1> Or even a brag sheet! </h1>
        </div>

        <div class="col-md-6 video-container">
            <video muted autoplay loop width="100%">
                <source src={{ url_for("static", filename="../static/tut_video_three.mp4") }} type="video/mp4" autoplay='autoplay' autoplay> </source>
            </video>
        </div>
    </div>
</div>

{% endblock content %}
