<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="static/style.css" type="text/css">
        <script src= "static/script.js"></script>
        <script>
            document.querySelector('video').play();
        </script>
    </head>
    <body>
        <nav>
            <div class="navbar bg-dark">
                <div class="container-fluid">
                    <a href={{ url_for('home') }} class="navbar-brand link_no_decoration title" style="color: white;"> ReIntern </a> 
                    <div class="">
                        <button class="btn bg-dark dark_button_hover"> <a class="link_no_decoration light_text"> Lorem </a> </button>
                        <button class="btn bg-dark dark_button_hover"> <a class="link_no_decoration light_text"> Ipsum </a> </button>
                    </div>
                </div>
            </div>
        </nav>
        <video class='main_video' muted autoplay loop>
            <source src={{ url_for("static", filename="../static/shapes_background.mp4") }} type="video/mp4" autoplay='autoplay' autoplay> </source>
        </video>
        {% block content %}{% endblock %}
        <footer>
            <div class="footer bg-dark">
            </div>
        </footer>
    </body>
</html>
