{% extends "layout_one.html" %} {% block content %}

<div class="viewpoint">
  <div class="hero-text">
    <h1 class="text-center">Welcome to ReIntern</h1>
    <h3 class="text-center">Please Sign Up</h3>
  </div>
  <form class="form-container" action="/signup" method="post">
    <div class="form-group">
      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Enter Username"
        class="form-input"
        required
      />
    </div>

    <div class="form-group">
      <label for="first_name">First Name:</label>
      <input
        type="text"
        id="first_name"
        name="first_name"
        placeholder="Enter First Name"
        class="form-input"
        required
      />
    </div>

    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Enter Email Address"
        class="form-input"
        required
      />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter Password"
        class="form-input"
        required
      />
    </div>

    <button class="btn center_object" type="submit">Sign Up</button>
  </form>
</div>

{% endblock content %}
