{% extends 'layout_two.html' %} {% block content %} <div class="wiki_page">
    <div class="row">
        <div class="col-md-3 outline main_list">
            <!-- Document Outline -->
            <ul class="">
                <li class="list_no_decoration"> <a class="link_no_decoration" href="#"> - Lorem Ipsum </a> </li>
                <li class="list_no_decoration"> <a class="link_no_decoration" href="#"> - Lorem Ipsum </a> </li>
                <li class="list_no_decoration"> <a class="link_no_decoration" href="#"> - Lorem Ipsum </a> </li>
                <li class="list_no_decoration"> <a class="link_no_decoration" href="#"> - Lorem Ipsum </a> </li>
                <li class="list_no_decoration"> <a class="link_no_decoration" href="#"> - Lorem Ipsum </a> </li>
            </ul>
        </div>
        <!-- Stock Market Graph -->
        <div class="col-md-8">
            <h1 class="center-text"> Welcome to our Wiki!</h1>
            <p  class="center-text"> Here we will have tons of resources for you to find about how internships work and how to manage them! </p>
            <br>
            <br>
            <h3> What we strive for: </h3>
            <p> Internships have never been easy to find obtain. It's like looking for a job, but the employer is inclined to agree to have interns knowing that you barely know what you're doing. No internship is the same, but there is a process to get out as much information as you possibly can out. </p>

        </div>
    </div>
</div> {% endblock content %}